<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Architecto deleniti dignissimos dolores eius excepturi,
    facilis nam quidem quo sunt ullam. Aut dicta dignissimos iste,
    itaque nobis non perferendis similique veritatis.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, id!
</p>
<q>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ducimus.
</q>
<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
    <ul>
        <li>udshvoier</li>
        <li>ergfds</li>
        <li>ergdfv</li>
    </ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
</ul>
<ol start = "10" reversed>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, omnis.</li>
</ol>
<dl>
    <dt>wrtfugyihujoi</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, voluptatibus.</dd>
</dl>
</body>
</html>