.Menu body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    cursor: pointer;
}

.Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.Menu li {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Menu a {
    display: block;
    width: 400px;
    height: 400px;
    background-color:#4d9559;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 28px;
    line-height: 400px;
}