html, body, header {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, GENISO, Verdana, sans-serif;
}
.article{
    grid-area: article;
}
.containerr {
    display: grid;
    gap: 20px;

    grid-template-columns: 200px auto 100px;
}
.footer-container {
    background-color: #8A6642;
    color: #fff;
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    height: 40px;
    left:0;
}
.footer-container {
    grid-template-columns: 1fr;
}

@media screen and (min-width:600px) {
    .footer-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.columns{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}
.container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 7vh;
    background-color: #79553D;
    display: flex;
    /*display: grid;*/
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 5px 5px rgb(150, 76, 0, 0.4);
    /*grid-template-columns: 150px auto 150px;*/
}
.containerFooter {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 20vh;
    background-color: #79553D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 5px 5px rgb(150, 76, 0, 0.4);
}
h3{
    padding: 1em;
    color: #f5f5f5;
    letter-spacing: 3px;
}
.logo {
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-left: 10px;
}
.enter {
    display: block;
    width: 200px; /* Задаем ширину кнопки */
    height: 40px; /* Задаем высоту кнопки */
    font-weight: 400;
    font-size: 17px;
    color: #538930;
    padding: 10px;
    text-align: center;
    border: 1px solid #538930;
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    transition: 0.2s;
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
}

ul {
    list-style: none;
    display: flex;
    padding: 1em;
    margin: 0;
    color: #f5f5f5;


}

.container a {
    color: #f5f5f5;
    text-decoration: none;
}

.card_add a {
    color: #f5f5f5;
    text-decoration: none;
}
li {
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin: 0.5em;
    padding: 10px 15px;
    border-radius: 20px;
}

li:hover {
    background-color: #8A6642;
    box-shadow: 3px 5px 5px;
}

main {
    position: relative;
}

.search-form{
    border: 1px solid #1A7525;
    display: inline-flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #E1E8EE;
}

.search-form__txt{
    border: none;
    width:200px;
    outline:none;
    font-size:20px;
    padding-right: 10px;
    background-color: transparent;
}

.search-form_btn{
    border: none;
    background-color: transparent;
}

.search-font__image{
    display:flow;
    align-items: center ;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}


 .search-container {
     text-align: left;
     margin-top: 20px;
 }

.search-container h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 0;
}

.search-submit {
    /*padding: 8px 16px;*/
    /*font-size: 16px;*/
    color: #fff;
    /*border-radius: 4px;*/
    cursor: pointer;
    display: block;

    float: right;
    margin: 0;
    position: absolute;
    border: 1px solid white;
    /*display: inline-flex;*/
    background: #4d9559;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.search-submit:hover {
    background-color: #45a049;
}
